
/*
    © Joey Smalen. All rights reserved.
*/

* {
    margin: 0;
    padding: 0;
}

html {
    background: #010510;
    color: #fff;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    height: calc(100% + (var(--safe-area-inset-top) + var(--safe-area-inset-bottom)));
    padding-top: constant(safe-area-inset-top);
    padding-top: env(safe-area-inset-top);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Layout */

main {
    display: flex;
    justify-content: center;
    overflow: hidden;
    flex: 1;
}

img, video {
    max-width: 75vw;
}

video {
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 75vw;
}

.two-column {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    overflow: hidden;
    gap: 1em;
}

.content {
    display: flex;
    flex-direction: column;
    width: 60%;
    max-width: 800px;
    margin: 50px 20px;
}

.content img, .content video {
    padding: 24px 50px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 40%;
    max-width: 500px;
    margin: 50px 20px;
}

.sidebar img, .sidebar video {
    max-width: 300px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.context {
    flex-grow: 1;
    min-width: 200px;
}

.thumbnail {
    display: flex;
    max-width: 185px !important;
}

.spacer {
    height: 3em;
}

li {
    list-style-position: inside;
}

footer {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    align-items: end;
}

footer > * {
    font-size: 90%;
    margin: 10px 20px;
}

/* Style override */

a {
    color: inherit;
    text-decoration: none;
    transition: ease-in 70ms;
}

a:hover {
    color: #fff;
    font-weight: 750 !important;
}

.underlined a {
    text-decoration: underline;
}

.underlined a:hover {
    font-weight: 600 !important;
}

b, strong, th {
    font-weight: 600;
}

p, ul, ol, table {
    padding-top: 24px;
}

/* Text style */

.text-section {
    color: rgb(225, 228, 229);
    font-size: 3.5em;
    font-weight: 750;
}

.text-tiny-section {
    color: rgb(225, 228, 229);
    font-size: 2.5em;
    font-weight: 700;
}

.text-subsection {
    color: rgb(116, 124, 128);
    font-size: 1.6em;
    font-weight: 500;
}

.text-subtext {
    color: rgb(100, 105, 116);
}

.entity {
    font-weight: 300;
}

.entity-bold {
    font-weight: 475;
}

/* Responsive */

@media screen and (max-width: 800px) {
    .container {
        width: 100vw;
    }

    .text-section,
    .text-subsection,
    .text-subtext,
    p, ul, ol, table {
        padding-right: 3vh;
    }

    .two-column {
        flex-direction: column;
    }

    .content,
    .sidebar {
        width: 100%;
    }
}

@media screen and (max-width: 385px) {
    .container {
        font-size: 75%;
    }
}
